/* ---- coming soon page ---- */

body {
  font-family: "Tenor Sans", sans-serif;
}

p {
  font-family: Cabin, sans-serif;
}

h2 {
  letter-spacing: -.04em;
}

.kern-tight {
  letter-spacing: -.08em;
}

.kern-tight-2 {
  letter-spacing: -.11em;
}

.kern-tight-half {
  letter-spacing: -.06em;
}

.social-list {
  list-style-type: none;
  padding-left: 0;
}

.tena {
  line-height: 0.85;
}

.zetta,
.yotta {
  line-height: 0.95;
}

.email-link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.email-link:hover {
    margin-left: 1.2em;
    padding: .5em 10em .5em .5em;
    color: #fff;
    background-color: #e52e6b;
    border-bottom: solid #e52e6b 40px;
}

.cover {
  background: url("../images/cover-coming.jpg") no-repeat left top / cover;
  min-height: 100vh;
}

.icon-social {
  height: 36px;
  width: 36px;
}

/* .social-icon-t {
  transition: all 0.3s ease-out;
}

.social-icon-in {
  transition: all 0.3s ease-out;
}

.social-icon-f {
  transition: all 0.3s ease-out;
}

.social-icon-f:hover {
  border-bottom: solid #e52e6b 5px;
}

.social-icon-in:hover {
  border-bottom: solid #e52e6b 5px;
}

.social-icon-t:hover {
  border-bottom: solid #e52e6b 5px;
} */

.caps {
  text-transform: uppercase;
}

.bio {
  border-left: solid #e52e6b 3px;
  padding-left: .5em;
}

 .helo {
  transition: all 0.35s ease-out;
}

.business-card-bio:hover .helo {
  color: #e52e6b;
  margin: 0 .1em;
}

.ll {
  display: none;
  color: #e52e6b;
  transition: all 1s ease-out;
}

.business-card-bio:hover .ll {
  display: inline;
}

/* ---- home page ---- */

.i-logo {
  width: 110px;
  height: 52px
}

.nav-bar {
  background-color: #121221;
  min-height: 70px;
}

.work-card-1 {
  background-color: #121221;
}

.work-card-2,
.work-card-3,
.work-card-4,
.work-card-5,
.work-card-6 {
  background-color: #121221;
}

.card-link-on-dark,
.card-link-on-light {
  text-decoration: none;
}

.card-link-on-dark:hover {
  cursor: pointer;
}

.card-link-on-light:hover {
  cursor: pointer;
}

.card-link-on-dark .work-card-title{
  color: #fff;
  border-left: solid 0 #68d7d4;
  transition: all 0.5s ease-out;
}

.card-link-on-dark:hover .work-card-title {
  border-left: solid 50px #68d7d4;
}

.card-link-on-light .work-card-title{
  color: #fff;
  border-left: solid 0 #68d7d4;
  transition: all 0.5s ease-out;
}

.card-link-on-light:hover .work-card-title {
  border-left: solid 60px #68d7d4;
}

/* .banner {
  min-height: 500px;
  background: url("") no-repeat 10% center / cover;
} */

.cabin {
  font-family: Cabin, sans-serif;
}

.pink {
  color: #e52e6b
}


.minh-252px {
  min-height: 252px;
}

footer {
  background: url("../images/") no-repeat left top / cover;
  min-height: 100px;
}

/* ---- branding page ---- */

.banner-branding {
  background: url("../images/branding-compactmusic-banner.jpg") no-repeat center center / cover;
  min-height: 350px;
}

.banner-campaign {
  background: url("../images/campaign-minto-banner.jpg") no-repeat center center / cover;
  min-height: 350px;
}

.banner-app {
  background: url("../images/app-hooray-banner.jpg") no-repeat center center / cover;
  min-height: 350px;
}

.banner-home {
  background: url("../images/banner-home-colour.jpg") no-repeat left center / cover;
  min-height: 350px;
}

.max-length-l {
  max-width: 36em;
  width: 100%;
}

.max-length-l2 {
  max-width: 42em;
  width: 100%;
}

.email-link-footer {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.by {
  color: white;
  font-family: "Tenor Sans", sans-serif;
}

.embed-778 {
  padding-top: 77.8%;
}

.embed-1186 {
  padding-top: 118.6%;
}

.embed-522 {
  padding-top: 52.2%;
}

.embed-453 {
  padding-top: 45.35%;
}

.embed-7437 {
  padding-top: 74.37%;
}

.hidden-s {
  display: none;
}

.hidden-m {
  display: inline-block;
}

@media only screen and (min-width: 38em) {

  .hidden-s {
    display: inline-block;
  }

  .hidden-m {
    display: none;
  }

}

.work-card-1 {
  background-color: #d50e8b;
}

.work-card-2 {
  background-color: #390969;
}

.logo-home {
  height: 8.22em;
  width: 18em;
}

.being {
  line-height: 0.95;
}

.wrapper-wider {
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
  width: 100%;
}

.tight {
  line-height: 1.1;
}

.embed-17786 {
  padding-top: 177.86%;
}

.embed-5559 {
  padding-top: 55.59%;
}

.embed-8034 {
  padding-top: 80.34%;
}

.work-card-3 {
  background-color: #ff5201;
}

.social-icon-t {
  border: solid 2px #121221;
  transition: all 0.3s ease-out;
}

.social-icon-in {
  border: solid 2px #121221;
  transition: all 0.3s ease-out;
}

.social-icon-f {
  border: solid 2px #121221;
  transition: all 0.3s ease-out;
}

.social-icon-f:hover {
  border: solid 2px #68d7d4;
}

.social-icon-in:hover {
  border: solid 2px #68d7d4;
}

.social-icon-t:hover {
  border: solid 2px #68d7d4;
}

.email-link-footer {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border: solid 2px #121221;
    transition: all 0.3s ease-out;
}

.email-link-footer:hover {
  border: solid 2px #68d7d4;
}

footer {
  background-color: #121221;
}
