<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Ksenia Zhelovatykh · Graphic Designer · Ottawa, Canada</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/module.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,700|Tenor+Sans" rel="stylesheet">

<body class="push-0 pad-b-0">

  <main>
    {{content}}
  </main>

  <footer class="push-0">
    <div class="grid grid-middle pad-t">
      <div class="unit xs-1 s-1-2 push">
        <div class="text-center">
          <a class="email-link-footer island-1-4 milli" href="mailto:design@ksnz.ca">design@ksnz.ca</a>
        </div>
      </div>

      <div class="unit xs-1 s-1-2 push">
        <div class="social text-center">
          <ul class="list-group list-group-inline push-0 social-list">
            <li class="gutter-1-4 inline-block">
              <a class="social-icon-f inline-block island-1-8" href="https://www.facebook.com/ksenia.zhelovatykh">
                <i class="icon icon-social"><img class="img-flex" src="{{site.baseurl}}/images/facebook.svg" alt="icon for facebook.com"></i>
              </a>
            </li>
            <li class="gutter-1-4 inline-block">
              <a class="social-icon-in inline-block island-1-8" href="https://www.instagram.com/ksenia.zh/">
                <i class="icon icon-social"><img class="img-flex" src="{{site.baseurl}}/images/instagram.svg" alt="icon for instagram.com"></i>
              </a>
            </li>
            <li class="gutter-1-4 inline-block ">
              <a class="social-icon-t inline-block island-1-8" href="https://twitter.com/KseZhe">
                <i class="icon icon-social"><img class="img-flex" src="{{site.baseurl}}/images/twitter.svg" alt="icon for twitter.com"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="unit xs-1 push-1-2 text-center">
        <p class="by micro">Created by ksenia zhelovatykh © 2018</p>
      </div>
    </div>
  </footer>
</body>
</html>

<!-- {% if page.titleAfter %} · {{page.titleAfter}}{% endif %} -->
